a {
  position: fixed;
  bottom: 0;
  justify-content: space-between;
}

.footer--container__items {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 2em;
  list-style-type: none;
}
