form {
  padding-top: 10%;
  gap: 100px;
  width: 80%;
  margin: 0;
}

legend {
  color: orangered;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

label {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea {
  height: 100px;
}
