form {
  padding-top: 10%;
  gap: 200px;
  width: 80%;
}

legend {
  color: orangered;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

label {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea,
input {
  height: 30px;
}

.submit-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #ffffff;
  width: 50%;
}
