@import "/css/Footer.css";
@import "/css/question-card.css";

* {
  box-sizing: border-box;
  /* border: solid 1px black; */
}

body {
  width: 100vw;
  margin: 0%;
  padding-bottom: 100px;
}

h1 {
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  margin: 0;
  margin-bottom: 10%;
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  font-size: 90px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

ul {
  list-style-type: none;
  padding: 0px;
}

img {
  width: 100%;
}
