@import "/css/Footer.css";
@import "/css/question-card.css";

* {
  box-sizing: border-box;
  /* border: solid 1px black; */
}

body {
  width: 100vw;
  margin: 0%;
}

h1 {
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
}

img {
  width: 100%;
}
