header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 4em;
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}
