.navbar--container {
  background: #1a1a1a;
  position: fixed;
  bottom: 0;
  width: 1fr;
  display: flex;
  margin-left: 0px;
  justify-content: space-between;
  border: white 5px;
}

.navbar--container__items {
  position: relative;
  top: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  list-style-type: none;
  font-size: 3rem;
  border: white;
}
