.navbar {
  background: #1a1a1a;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 1rem;
  justify-content: space-between;
}

a {
  position: relative;
  top: 15%;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
  font-size: 3rem;
}
