.footer__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100vw;
  height: 50px;
  background-color: white;
}

.footer__menu__item {
  width: 50px;
  height: auto;
  background-color: white;
}
