.question-card--flex-container {
  background-color: papayawhip;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  margin: 5% 25% 20% 25%;
  -webkit-box-shadow: 7px 12px 40px 14px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 12px 40px 14px rgba(0, 0, 0, 0.6);
}

.question-card--flex-container__question {
  font-size: larger;
  padding: 5px;
}

.question-card--flex-container__button {
  margin: 3% 30% 5% 30%;
  color: black;
  font-size: 12px;
  line-height: 12px;
  padding: 7px;
  border-radius: 8px;
  font-family: Georgia, serif;
}

.question-card--flex-container__answer {
  font-style: italic;
  text-align: center;
}

.question-card--flex-container__tags {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.question-card--flex-container__tags__item {
  font-style: italic;
  margin-left: 5px;
  font-size: small;
}
