.question-card--flex-container {
  background-color: white;
  margin: 5% 10% 10% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border-radius: 40px;
  -webkit-box-shadow: 7px 12px 40px 14px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 12px 40px 14px rgba(0, 0, 0, 0.6);
}

.question-card--container__bookmark {
  display: flex;
  height: 30px;
  width: 30px;
  align-self: flex-end;
}

.question-card--flex-container__question {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-style: oblique;
  text-align: center;
  padding: 5px;
}

.question-card--flex-container__button {
  margin: 3% 40% 3% 40%;
  display: block;
  color: black;
  font-size: 12px;
  line-height: 12px;
  padding: 7px;
  width: 100px;
  border-radius: 8px;
}

.question-card--flex-container__answer {
  font-style: italic;
  text-align: center;
  font-size: small;
}

.question-card--flex-container__tags {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.question-card--flex-container__tags__item {
  font-style: italic;
  margin-left: 5px;
  font-size: small;
  color: darkgray;
}
