.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  box-shadow: 1px 5px 29px 5px rgba(0, 0, 0, 0.5);
  margin: 10% 30% 20% 30%;
  border-radius: 15px;
}

.quiz-card_button {
  color: darkgray;
  font-size: 20px;
  line-height: 20px;
  padding: 8px;
  border-radius: 16px;
  font-family: Georgia, serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 5px 29px 5px;
  border: 1px solid rgb(28, 110, 164);
  display: inline-block;
  margin-bottom: 20px;
}

.quiz-card_button:hover {
  background: #1c6ea4;
}

/* a,
li {
  display: flex;
  margin: 10px;
  padding: 0;
  justify-content: center;
  height: 50%;
  flex-direction: row;
  font-style: italic;
  font-size: small;
} */

.quiz-card_question {
  /* margin: 20px 10px 50px 10px; */
  margin: 30px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
}

.quiz-card_answer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.quiz-card_tags {
  display: flex;
  position: relative;
  left: 5px;
  font-size: 13px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: black;
}
