.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  box-shadow: 1px 5px 29px 5px rgba(0, 0, 0, 0.5);
  margin: 10% 30% 30% 30%;
  border-radius: 15px;
}

.quiz-card_button {
  color: whitesmoke;
  font-size: 15px;
  line-height: 20px;
  padding: 8px;
  border-radius: 16px;
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
  font-weight: 200px;
  display: inline-block;
  margin: 20px, 20px, 20px, 20px;
}

.quiz-card_button:hover {
  background: #1c6ea4;
}

.quiz-card_question {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 5%;
  font-size: 1fr;
  color: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.quiz-card_answer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.quiz--card_tags {
  display: flex;
  position: relative;
  left: 5px;
  font-size: 11px;
  color: black;
  list-style-type: none;
}

.quiz--card_bookmark {
  position: relative;
  left: 70%;
  background-color: red;
}

li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
