.quiz--card__container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 50%;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  box-shadow: 1px 5px 29px 5px rgba(0, 0, 0, 0.5);
  margin: 10% 20% 20% 20%;
  border-radius: 2rem;
}

p {
  font-size: large;
}

.quiz--card__button {
  color: whitesmoke;
  font-size: 15px;
  line-height: 20px;
  padding: 7px;
  border-radius: 16px;
  background: #1a1a1a;
  box-shadow: #1a1a1a;
  font-weight: 200px;
  margin-left: 20%;
  margin-right: 20%;
}

.quiz--card__question {
  text-align: center;
  text-size-adjust: 10rem;
}

.quiz--card__answer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.quiz--card__tag--container {
  /* position: relative; */
  bottom: 0px;
  font-size: 15px;
  color: darkgray;
  margin-top: 20px;
  margin-right: 5px;
}

.quiz--card__tags_items {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.quiz--card__bookmark {
  display: flex;
  position: relative;
  padding: 0;
  width: 30px;
  height: auto;
  border: none;
  background-color: transparent;
  /* background-color: red; */
}

img {
  background-color: transparent;
  width: 100%;
  height: auto;
  position: relative;
  left: 80px;
  bottom: 5px;
}
