@import "/css/navigation.css";
@import "/css/quizcards.css";
@import "/css/header.css";
@import "/css/body.css";
<<<<<<< HEAD
@import "/css/profile.css";

* {
  box-sizing: border-box;
  /* border: 1px solid lightblue; */
=======

* {
  box-sizing: border-box;
  border: 1px solid lightblue;
>>>>>>> main
}
