@import "/css/navbar.css";
@import "/css/quizcards.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid papayawhip;
  /* border: 1px solid hotpink; */
  /* margin: 1px;
  height: auto; */
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 10rem;
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
}
