@import "/css/Footer.css";
@import "/css/question-card.css";
@import "/css/form.css";
@import "/css/profile.css";

* {
  box-sizing: border-box;
  /* border: solid 1px black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding-top: 100px;
  padding-bottom: 150px;
  /* padding-top: 100px; */
}

h1 {
  position: fixed;
  top: 0px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  margin: 0;
  width: 100vw;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  font-size: 90px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

ul {
  list-style-type: none;
  padding: 0px;
}
