* {
  box-sizing: border-box;
  border: 1px solid hotpink;
  /* margin: 1px; */
  height: auto;
}

body {
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

h1 {
  position: relative;
  top: 60%;
  font-size: 50px;
}

div {
  background-color: lightgray;
  padding: 1.5% 1%;
  border-radius: 10%;
  height: 45%;
  width: 50%;
  margin-left: auto;
  margin-top: 2%;
  box-shadow: 2px 2px 5px #666;
  justify-content: center;
}

p {
  padding: 1%;
  margin: 0;
  box-sizing: content-box;
  width: 100%;
  justify-content: center;
  text-align: center;
}

button {
  display: flex;
  position: relative;
  left: 40%;
  margin: 1%;
  text-align: center;
  box-shadow: 2px 2px 5px lightgray;
}

ul,
li {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin: 16px;
  width: 190px;
  gap: 10px;
  border: 1px solid black;
}

li {
  display: flex;
  margin: 5px;
}

footer {
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  justify-content: flex-start;
}
