<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <script type="module" src="/js/index.js" defer></script>
    <title>Quiz App</title>
  </head>
  <h1>Quiz</h1>
  <body>
    <img
      src="/assets/mike-dorner-sf_1ZDA1YFw-unsplash.jpg"
      class="playerinfo-pic"
    />
    <table>
      <thead>
        <tr>
          <th colspan="2">Player Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Level</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
    <footer class="footer--main-container">
      <li class="footer--container__item">
        <a href="/index.html" class="footer--container__item__icon"
          ><img src="/assets/icons8-home-page-50.png"
        /></a>
      </li>
      <li class="footer--container__item">
        <a href="/html/bookmarks.html" class="footer--container__item__icon">
          <img src="/assets/icons8-bookmark-48.png"
        /></a>
      </li>
      <li class="footer--container__item">
        <a href="/html/form.html" class="footer--container__item__icon">
          <img src="/assets/add-new-button.png"
        /></a>
      </li>
      <li class="footer--container__item">
        <a href="/html/profile-page.html" class="footer--container__item__icon">
          <img src="/assets/icons8-customer-64.png"
        /></a>
      </li>
    </footer>
  </body>
</html>
